<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style">
<link rel="stylesheet" href="/assets/css/ace-skins.min.css">
<link rel="stylesheet" href="/assets/css/ace-rtl.min.css">
<!-- <link rel="stylesheet" href="assets/css/jquery-ui.min.css" /> -->
<!-- <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css" /> -->
<link rel="stylesheet" href="/stylesheets/ui-dialog.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/{{page}}.css">
<script src="/assets/js/ace-extra.min.js"></script>
