<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/fuelux/fuelux.tree.min.js"></script>
<script src="/assets/js/ace-elements.min.js"></script>

<!-- <script src="assets/js/date-time/bootstrap-datepicker.min.js"></script> -->
<!-- <script src="assets/js/jqGrid/jquery.jqGrid.min.js"></script> -->
<!-- <script src="assets/js/jqGrid/i18n/grid.locale-en.js"></script> -->

<script src="/assets/js/ace.min.js"></script>
<script src="/javascripts/dialog-min.js"></script>
<scrit src="/javascripts/mock.min.js"></scrit> 

<script src="/javascripts/{{page}}.js"></script>
