<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{include "./components/include-top"}}
</head>

<body class="no-skin">
    <!-- 顶部栏 -->
    {{include "./components/top-bar"}}
    <!-- 页面主体 -->
    <section class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {}
        </script>
        <!-- 左边菜单-->
        {{include "./components/left-menu"}}
        <!-- 右边主体 -->
        <div class="main-content">
            <div class="main-content-inner">
                <!-- 面包屑-->
                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="/">首页</a>
                        </li>
                    </ul>
                </div>
                <div class="page-content">
                    {{if data.length>0}}
                        {{each in data as list}}
                            {{each in list as item}}
                                {{item.id}}
                            {{/each}}
                        {{/each}}
                    {{else}}
                        <p class="test-error">
                            暂无数据
                        </p>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>
    {{include "./components/include-bottom"}}
</body>

</html>
